<!DOCTYPE html>
<html>
    <head>
        <title>Connect Four</title>
        <h2>Welcome to Connect Four</h2>
    </head>
    <body>
		<h3>Please click on any cells to start a game.</h3>
		
        <div id="game"><h3>Current player: <player id="color"></player></h3>
			<div id="messages">
				<span id="p1">Red</span>
				<span id="p2">Violet</span>
				<span id="newgame">Are you sure you want to start a new game?</span>
				<span id="won">The %s player won.
				Do you want to play a new game?</span>
			</div>
		<br />
		<button id="restart">New game</button>
            <table>
			<% (1..6).each do |i| %>
			<tr>
				<% (1..7).each do |x| %>
					<td id="color<%= i %><%= x %>"></td>
				<% end %>
			</tr>
		    <% end %>
            </table>
        </div>
    </body>
</html>