<html>
<head>
<title>Connect Four</title>
</head>
<body>
<div class="main">
  <h1>Welcome to Connect Four</h1>
  <div class="container-fluid">
	<table id="game-table" class="table table-striped table-bordered table-condensed">
	<% for i in 0..5 %>
	<tr></tr>
		<% for x in 0..6 %>
			<td class="col-md-1"><br /><br /></td>
		<% end %>
	<% end %>
	</table>
  </div>
</div>
</body>
</html>
